{% extends "newsletter/common.html" %}
{% load i18n %}
{% block title %}{% trans "Newsletter subscribe" %}{% endblock title %}
{% block body %}
<h1>{% trans "Newsletter subscribe" %} {{ newsletter.title }}</h1>
{% if error %}
<p>{% trans "Due to a technical error we were not able to submit your confirmation email. This could be because your email address is invalid." %}</p>
<p>{% trans "If the error persists, please don't hesitate to contact us at the following email address:" %} <a href="mailto:info@{{ current_site.domain }}">info@{{ current_site.domain }}</a></p>
{% else %}
{% if form.is_valid %}
<p>{% trans "Your subscription was successfully recieved and an activation email has been sent to you. In that email you will find a link which you need to follow in order to activate your subscription." %}</p>
{% else %}
<form enctype="multipart/form-data" method="post" action=".">
    {{ form.as_p }}
    <p><input id="id_submit" name="submit" value="{% trans "Subscribe" %}" type="submit" /></p>
</form>
{% endif %}
{% endif %}
{% endblock body %}

