{% extends "newsletter/common.html" %}
{% load i18n %}
{% block title %}{% trans "Newsletter unsubscribe" %}{% endblock title %}
{% block body %}
<h1>{% trans "Newsletter unsubscribe" %} {{ newsletter.title }}</h1>
{% if form.is_valid %}
<p>{% trans "Your unsubscription request has successfully been recieved. An email has been sent to you with a link you need to follow in order to confirm your unsubscription." %}</p>
{% else %}
<form enctype="multipart/form-data" method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input id="id_submit" name="submit" value="{% trans "Unsubscribe" %}" type="submit" /></p>
</form>
{% endif %}
{% endblock body %}

