[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-imperavi = "*"
django-tinymce = "*"
pytz = "*"
django-webtest = "*"
mock = "*"
WebTest = "*"
python-card-me = "<1.0"
"ldif3" = "<3.2"
chardet = "*"
surlex = ">=0.2.0"
sorl-thumbnail = ">=11.12.1b"
six = "*"
unicodecsv = "<0.15"
Django = ">=1.8.19"
Pillow = "*"

[dev-packages]
