django-extensions<2.0.1 # Bug causes build to fail: https://github.com/django-extensions/django-extensions/issues/1176
Django>=1.8.18
python-card-me<1.0
ldif3<3.2
chardet
surlex>=0.2.0
sorl-thumbnail>=11.12.1b
six
unicodecsv<0.15
Pillow
