{% load url from future %}{% load thumbnail %}
    {% for article in message.articles.all %}
        
        {% thumbnail article.image "200x200" as image %}
            <img src="http://{{ site.domain }}{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}">
        {% endthumbnail %}

        <div>{{ article.text|safe }}</div>
        
        {% if article.url %}
            <div><a href="{{ article.url }}">Read more</a></div>
        {% endif %}
    {% endfor %}
